/* Services.css */
.services-container {
    padding: 20px;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .dropdown-container {
    width: calc(25% - 20px);
    margin-bottom: 20px;
  }
  
  select {
    width: 100%;
    padding: 10px;
  }
  
  .heading{
    padding: 20px;
  }
  .wide-bar-link {
    width: calc(100% - 40px);
    
  }
  .btn {
    margin-left: 1300px;
  }