/* Services.css */
.services-container {
    padding: 20px;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .dropdown-container {
    width: calc(25% - 20px);
    margin-bottom: 20px;
  }
  
  select {
    width: 100%;
    padding: 10px;
  }
  
  .heading{
    padding: 20px;
  }