/* WideBar.css */
.wide-bar {
    width: calc(100% - 40px);
    height: 3rem; /* Adjust the width as needed */
    margin-top: 10px;
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .bar-title {
    /* flex: auto; */
    
    font-size: 18px;
    text-align: left;  
  }
  .bar-content {
    /* flex: auto; */
    
    font-size: 12px;
    text-align: right;  
  }
  
  .wide-bar-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
    display: block; /* Make the link a block element for clickable area */
  }
  